/* You can add global styles to this file, and also import other style files */

.bg{
    background-image: url("https://wallpaperaccess.com/full/1398385.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}